# Python Practice Problems

### 1. Find the Largest of Two Numbers
**Task:** Given two numbers, find the larger one.  
**Demo Input:**  5 and 6 <br>
**Output:** 6

In [1]:
a = 5
b = 6

if a > b:
    larger = a
else:
    larger = b


print("The larger number is:", larger)

The larger number is: 6

### 2. Print Numbers from 1 to N
**Task**: Given a number `n`, print all numbers from 1 to `n`. <br>
**Demo Input**: `5`  <br>
**Demo Output**:  1 2 3 4 5

In [2]:
n = 5

for i in range(1, n + 1):
    print(i, end=' ')

1 2 3 4 5

### 3. Check if a Number is Positive or Negative
**Task**: Determine if the input number is positive, negative, or zero.  
**Demo Input**: `-3`  
**Demo Output**: `The number is Negative`

In [3]:
a = -3

if a > 0:
    print("The number is Positive")
elif a < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

The number is Negative

### 4. Calculate the Sum of Digits
**Task**: Given a number, find the sum of its digits.  
**Demo Input**: `123`  
**Demo Output**: `6`  
(Explanation: `1+2+3=6`)

In [5]:
number = 123
sum_of_digits = sum(int(digit) for digit in str(number))
print(sum_of_digits)

6

### 5. Find Factorial of a Number
**Task**: Calculate the factorial of a given number.  
**Demo Input**: `4`  
**Demo Output**: `24`  
(Explanation: `4! = 4*3*2*1 = 24`)

In [8]:
a = 4
factorial = 1
for i in range(1, a + 1):
    factorial *= i
print(factorial)

24

### 6. Count Occurrences of a Digit
**Task**: Count how many times a specific digit appears max in a number.  
**Demo Input**:  1233321 <br>
**Demo Output**: `3`  <br>
(Explanation: `3` appears 3 times in `1233321`)

In [9]:
num = 1233321
digits = str(num)
max_count = max(digits.count(d) for d in set(digits))
print(max_count)

3

### 7. Find the GCD of Two Numbers
**Task**: Find the greatest common divisor (GCD) of two numbers.  
**Demo Input**: 8 and 12 <br>
**Demo Output**: `4`

In [10]:
a = 8
b = 12

while b:
    a, b = b, a % b

print(a)

4

### 8. Reverse a String
**Task**: Reverse the given string.  
**Demo Input**: `"aiquest"`  
**Demo Output**: `"tseuqia"`

In [11]:
a = "aiquest"
reversed_a = a[::-1]
print(reversed_a)

tseuqia

### 9. Check Armstrong Number
**Task**: Check if a number is an Armstrong number (the sum of its digits raised to the power of the number of digits equals the number).  
**Demo Input**: `153`  
**Demo Output**: `153 is an Armstrong Number`  
(Explanation: \(1^3 + 5^3 + 3^3 = 153\))

In [12]:
num = 153
digits = str(num)
power = len(digits)
armstrong_sum = sum(int(digit)**power for digit in digits)

if armstrong_sum == num:
    print(f"{num} is an Armstrong Number")
else:
    print(f"{num} is not an Armstrong Number")

153 is an Armstrong Number

### 10. Generate a Pattern
**Task**: Print a pyramid pattern with `n` rows.  
**Demo input:** 4 <br>
**Output:** You will see the pyramid pattern with 4 rows

In [13]:
n = 4

for i in range(1, n + 1):
    print(' ' * (n - i) + '* ' * i)

   *
  * *
 * * *
* * * *

# Good Luck!